# docker-compose.yml

version: '3.8'

services:
  db:
    image: postgres:13
    container_name: newsletter_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    environment:
      - POSTGRES_USER=myuser
      - POSTGRES_PASSWORD=mypassword
      - POSTGRES_DB=newsletter_db
    ports:
      - "5432:5432"

volumes:
  postgres_data: